@import '~prismjs/themes/prism.css'

// 覆盖浏览器自动填充的底色
input:-webkit-autofill {
  box-shadow 0 0 100px 100px white inset !important
}

// 网页背景色
body {
  background-color rgb(244,245,245) // 背景颜色
}

a, a:visited {
  color: $accentColor
}